body {
    background-color: white;
    display: flex;
    justify-content: center;
    min-height: 80vh;
    position: relative; /* Требуется для абсолютного позиционирования контейнера размытия */
  }

p {
    font-family: 'Univers', sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: #333;
    line-height: 1.6;
    text-align: center;
    display: block;
  }

.items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 600px;
    position: relative;
}

.boots {
    display: flex;
    flex-wrap: nowrap; /* Сохраняем исходный flex-макет для изображений */
}

.boots1, .boots2, .boots3, .boots4 {
  margin: 10px;
  width: 25%;
  box-sizing: border-box;
  text-decoration: none;
  display: block;
}

.boots a {
  margin: 10px;
  width: 48%; /* Скорректировано из предыдущего значения */
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.boots img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
}

/* Контейнер размытия */
.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0; /* Изначально скрыт */
  transition: opacity 0.3s ease;
  z-index: 1; /* За основным контентом, но над body */
  pointer-events: none; /* Разрешает взаимодействие с элементами */
}

.boots img:hover ~ .blur-overlay {
    opacity: 1; /* Показываем размытие при наведении */
    pointer-events: all;
    filter: blur(5px);

}

.boots a {
  z-index: 2;
