body {
    background-color: white;
    display: flex;
    justify-content: center;
    min-height: 80vh;
    position: relative;
  }
  
p {
    font-family: 'Univers', sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: #333;
    line-height: 1.6;
    text-align: center;
    display: block;
  }

.items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 600px;
    position: relative;
  }

.boots {
    display: flex;
    flex-wrap: nowrap;
  }

.boots1, .boots2, .boots3, .boots4 {
  margin: 10px;
  width: 25%;
  box-sizing: border-box;
  text-decoration: none;
  display: block;
}

.boots a {
  margin: 10px;
  width: 48%;
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative
}

.boots img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer; 
}

.boots img:hover ~ .blur-container {
    opacity: 1;
    pointer-events: none;
}

.blur-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white; 
    opacity: 0; 
    transition: opacity 0.3s ease;
    z-index: 2; 
    filter: blur(5px);
}

.boots a {
  z-index: 3;
}
